# Ignore file uploads
back-end/flaskApp/upload

# Don't upload password to github!
back-end/flaskApp/password.txt

# ignore bytecode
__pycache__/

# Sphinx documentation
docs/_build/

# ignore tests
tests/
