<!DOCTYPE html>
<html>

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../static/js/feedback_display.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    

    <link rel="stylesheet" href="../static/css/feedback_display.css">
</head>


<body>
    <div class="title">
        <span class="container">
            <img src="../static/images/cslogow.png">
        </span>
    </div>

    <div id="feedback-div" name="feedback-div" class="container">
        <div class="col s12 m6">
            <div class="card">
            <div class="card-content">
                <h2>Cypress: Where Automated Acceptance Testing Isn’t Just for QA Anymore</h2>
                <h4>Justin James</h4>
                <p class=" ratings">Speaker rating: <span name="speaker-rating" id="speaker-rating">5</span></p>
                <p class=" ratings">Content rating: <span name="content-rating" id="content-rating">5</span></p>
                <blockquote class="questions" name="questions">
                    <p>One common flaw we've seen in many frameworks is a lack of support for truly responsive text. While elements on the page resize fluidly, text still resizes on a fixed basis. To ameliorate this problem, for text heavy pages, we've created a class that fluidly scales text size and line-height to optimize readability for the user. Line length stays between 45-80 characters and line height scales to be larger on smaller screens.</p>
                    <div class="right-align">
                    <cite name="comment-info">John Smith, jsmith@yahooooo.com</cite>
                    </div>
                </blockquote>

                <blockquote class="comments" name="comments">
                    <p>Articles are usually categorized as either definite or indefinite.[4] A few languages with well-developed systems of articles may distinguish additional subtypes. Within each type, languages may have various forms of each article, due to conforming to grammatical attributes such as gender, number, or case. Articles may also be modified as influenced by adjacent sounds or words as in elision (e.g., French "le" becoming "l'" before a vowel), epenthesis (e.g., English "a" becoming "an" before a vowel), or contraction (e.g. Irish "i + na" becoming "sna").</p>
                </blockquote>

                <blockquote class="questions" name="questions">
                    <p>The definite article is used to refer to a particular member of a group or class. It may be something that the speaker has already mentioned or it may be something uniquely specified. There is one definite article in English, for both singular and plural nouns</p>
                    <div class="right-align">
                    <cite name="comment-info">John Smith, jsmith@yahooooo.com</cite>
                    </div>
                </blockquote>

                <blockquote>However, recent developments show that definite articles are morphological elements linked to certain noun types due to lexicalization. Under this point of view, definiteness does not play a role in the selection of a definite article more than the lexical entry attached to the article.</blockquote>
            </div>
            </div>
        </div>
    </div>

</body>