<!DOCTYPE html>
<html>
    <head>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/thanks.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <title>Feedback Form</title>
    </head>
    
    <body>
        <div class="title">
            <span class="container">
                <img src="../static/images/cslogow.png">
            </span>
        </div>

        <div class="row">
            <form class="container" action="#" onsubmit="return formSubmit()">
                <h1 class="form-title row" style="margin-top:20%;font-size: 3.5rem;" id="talk-title">Thank you very much for your feedbacks!</h1>
            </form>
        </div>
    </body>
</html>