<!DOCTYPE html>
<html>
    <head>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../css/general_form.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="../javascript/general_form.js"></script>

        <title>Feedback Form</title>
    </head>
    
    <body>
        <div class="title">
            <span class="container">
                <img src="../images/cslogow.png">
            </span>
        </div>

        <div class="row">
            <form class="container" action="#" onsubmit="return formSubmit()">
                <h1 class="form-title row" style="margin-top:1%;font-size: 2.5rem;" id="talk-title">Please help us improve by answering these survey questions</h1>
                
                <div class="row top-margin-3">
                    <fieldset>
                        <Legend>Will you be back next year?</Legend>
                        <p>
                            <label>
                                <input class="with-gap" type="radio" id="user-rating-1" name="user-ratings" />
                                <span>Totes (Wouldn't miss it!)</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input class="with-gap" type="radio" id="user-rating-2" name="user-ratings" />
                                <span>Undetermined (Will decide later)</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input class="with-gap" type="radio" id="user-rating-3" name="user-ratings" />
                                <span>Nah (Probably not)</span>
                            </label>
                        </p>                      
                    </fieldset>
                </div>

                <div class="row">
                    <fieldset>
                        <Legend>Where are we slamming?</Legend>
                        <div class="input-field col s12">
                            <textarea id="right-stuff" class="materialize-textarea"></textarea>
                            <label for="right-stuff">(What are we doing right?)</label>
                        </div>                        
                    </fieldset>
                </div>

                <div class="row">
                    <fieldset>
                        <Legend>How can we kick it up a notch?</Legend>
                        <div class="input-field col s12">
                            <textarea id="improvement" class="materialize-textarea"></textarea>
                            <label for="improvement">(How can we improve?)</label>
                        </div>                        
                    </fieldset>
                </div>
                
                <div class="row right-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action" >Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </body>
</html>